body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.primary-navbar ul li {
  margin-right: 16px;
}

.jumbotron {
  background-image: url("https://cdn.pixabay.com/photo/2017/05/28/16/55/coffee-2351436__340.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(104, 104, 104, 0.3);
  color: white;
}
