body {
  background-image: url("../img/pattern.jpg");
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  overflow: hidden;
  top: 0;
}

header nav ul {
  margin-right: 15px;
}

header nav ul li {
  margin-right: 15px;
  display: inline-block;
  list-style: none;
}

section {
  margin: 72px 2rem 2rem;
  padding: 1rem 1.5rem;
  background-color: white;
}

.text-title {
  text-align: center;
  font-family: "Slabo 27px", serif;
}

article {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
